<!-- this is our parent component -->

<h1>Hi</h1>
<!-- we put our other components inside app component so its like Route as well  -->
<app-navbar></app-navbar>
<!-- we pass it here then we have to capture the fromParent variable inside the post component in order for tihs sharing to work -->
<!-- for messageEvent binded it to this app post selector, binded messageEvent to the method -->
<app-post [fromParent]="parentMessage" (messageEvent)="receiveMessage($event)"></app-post>
<p>{{message}}</p>
<p>{{fromChildOutput}}</p>

<!-- create css and in stylesheet and then attach it like this with the boolean value, this is the angular class binding method class property and attach the css name from style sheet -->
<h1 [class.text-red] ='bool'> Angular Red</h1>

<!-- we can pass anything thats on the style object and attach it to .style -->
<h1 [style.color] = "bool ? 'red' : 'blue'">Style Binding</h1>


<!-- event binding -->

<button (click)="buttonClick()"> click me</button>

<!-- event filtering -->
<!-- we can pass in $event and do it tradiitional way to detect enter key but we can also do this with event filtering by attaching .enter so then it will only detect enter  -->
<input type="text" (keyup)="onKeyup($event)">
<input type="text" (keyup.enter)="onKeyupTwo()">
<!-- template variable in angular, username -->
<!-- template variable that represents input field -->
<!-- we are passing the value to the method, it grabs the value and we can use it on our method to get whatever was inputted in the field -->
<input type="text" (keyup.enter)="onKeyupThree(username.value)" #username>

<!-- Two Way Data Binding -->
<!-- bind text to component variable -->
<!-- ngModel special syntax for two way data binding -->
<input type="text" [(ngModel)]="userName"(keyup.enter)="onKeyupFour()">

<input type="text" [value]="textValue">

